﻿@model IEnumerable<Web.Models.Article>

@{
    ViewBag.Title = "Все статьи";
}


<h2>Articles</h2>


<p>
    <ul>
        @foreach (var p in Model)
        {
            <li><a href="#/editarticle/@p.id">@p.title</a></li>
        }
</ul>
