﻿@model Web.Models.Admtszh

@*<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-close' ng-click='hideModal()'>*@
            <h3>Редактирование профиля</h3>

            <form>
                @*@Html.AntiForgeryToken()*@

                <div class="form-horizontal">
                    <hr />
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                    <input type="hidden" ng-model="profmodel.id" ng-init="profmodel.id = @Model.id">
                    <input type="hidden" ng-model="profmodel.id_uk" ng-init="profmodel.id_uk = @Model.id_uk">
                    <input type="hidden" ng-model="profmodel.AdmtszhId" ng-init="profmodel.AdmtszhId = @Model.AdmtszhId">
                    <fieldset>
                        <legend></legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.post, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="profmodel.post" ng-init="profmodel.post = '@Model.post'" value="@Model.post">
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SurName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="profmodel.SurName" ng-init="profmodel.SurName = '@Model.SurName'" value="@Model.SurName">
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="profmodel.Name" ng-init="profmodel.Name = '@Model.Name'" value="@Model.Name">
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Patronymic, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" type="text" ng-model="profmodel.Patronymic" ng-init="profmodel.Patronymic = '@Model.Patronymic'" value="@Model.Patronymic">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Сохранить" class="btn btn-default" ng-click="submit(profmodel)" >
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>

            <div>
                <a href="#/operprof">Вернуться в профиль</a>
            </div>
        @*</div>*@
        @*<div class='ng-modal-dialog-content' ng-transclude></div>
    </div>
</div>*@