﻿@model Web.Models.UserProfile_form


@{
//ViewBag.Title = "EditUser";
//    Layout = "~/Views/Shared/_LayoutUk.cshtml";
}

<h2>Редактирование профиля пользователя</h2>

<form>
    @*@Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    @*@Html.HiddenFor(model => model.UserId)*@
    <div class="form-horizontal">
        <fieldset>
            <legend>Редактирование профиля пользователя</legend>
            @*<div class="form-group">
                    @Html.Label("Выберите роль", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.Role, new MultiSelectList(Roles.GetAllRoles().SkipWhile(p => p.Equals("Admin")).ToArray()), new { size = 3 })
                    </div>
                </div>*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.id_uk, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.id_uk, (IEnumerable<SelectListItem>)ViewData["uk_profile"], "Выберите УК")
                        @Html.ValidationMessageFor(model => model.id_uk, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

            <input type="hidden" ng-model="profmodel.id" ng-init="profmodel.id">
            <input type="hidden" ng-model="profmodel.id_uk" ng-init="profmodel.id_uk">
            <input type="hidden" ng-model="profmodel.UserId" ng-init="profmodel.UserId">
            <input type="hidden" ng-model="profmodel.Adress" ng-init="profmodel.Adress = @Model.Adress">

            <div class="form-group">
                E-mail:
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.post" ng-init="profmodel.post">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SurName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.SurName" ng-init="profmodel.SurName">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.Name" ng-init="profmodel.Name">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Patronymic, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.Patronymic" ng-init="profmodel.Patronymic">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Patronymic, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.Patronymic" ng-init="profmodel.Patronymic = '@Model.Patronymic'" value="@Model.Patronymic">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Personal_Account, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.Personal_Account" ng-init="profmodel.Personal_Account = '@Model.Personal_Account'" value="@Model.Personal_Account">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.Email" ng-init="profmodel.Email = '@Model.Email'" value="@Model.Email">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.phone" ng-init="profmodel.phone = '@Model.phone'" value="@Model.phone">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.mobile" ng-init="profmodel.mobile = '@Model.mobile'" value="@Model.mobile">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-default" ng-click="submit(profmodel)" />
                </div>
            </div>
        </fieldset>
    </div>
</form>

<div>
    
</div>
<hr>
@if (User.IsInRole("Admin"))
{
    <pre>{{profmodel | json}} </pre>
}