@charset "utf-8";
/*
Design by http://www.templateaccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/
body { margin:0; padding:0; width:100%; color:#959595; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
html, .main { padding:0; margin:0;}
.main { background:#fff url(images/header_bg.jpg) repeat-x center 78px;}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.logo { padding:0; float:left; width:auto;}
h1 { margin:0; padding:12px 0 20px 0; float:left; color:#6ec1f3; font:normal 36px/1.2em Arial, Helvetica, sans-serif; letter-spacing:-2px;}
h1 a, h1 a:hover { color:#6ec1f3; text-decoration:none;}
h1 small { display:block; margin-top:-4px; padding:0 0 0 36px; color:#b9bbbc; font:normal 13px/1.2em Arial, Helvetica, sans-serif; letter-spacing:normal;}
h2 { font:normal 24px/1.5em Arial, Helvetica, sans-serif; padding:8px 0; margin:0 0 8px; color:#323a3f;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
a { color:#6ec1f3; text-decoration:underline;}
p.spec { border:1px solid #e6e8e8; padding:2px 2px 2px 12px; height:37px;}
a.rm { line-height:37px;}
a.com { margin:0; padding:8px 24px; float:right; text-decoration:none; color:#fff; background-color:#6ec1f3;}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { margin:0; padding:0;}

/* header */
.header { border-top:8px solid #6ec1f3;}
.header_resize { margin:0 auto; padding:0 20px; width:930px; height:274px;}
.header .headertext { float:left; width:450px;}
.header .headertext h2 { margin:0; padding-top:12px; color:#fff; font-weight:bold;}
.header .headertext p { color:#fff; padding:0;}

/* menu */
.menu_nav { margin:0; padding:0 40px 0 0; float:right; height:29px;}
.menu_nav ul { list-style:none; height:29px;}
.menu_nav ul li { margin:0 12px 0 0; padding:0; float:left;}
.menu_nav ul li a { display:block; margin:0; padding:24px 24px 10px; color:#959595; text-decoration:none; font-size:12px;}
.menu_nav ul li.active a, .menu_nav ul li a:hover { color:#fff; background-color:#6ec1f3;}

/* content */
.content_resize { margin:0 auto; padding:16px 0 24px; width:970px;}
.content .mainbar { margin:0; padding:0; float:left; width:670px;}
.content .mainbar img { border:1px solid #d8dbdc; padding:4px;}
.content .mainbar img.fl { margin:4px 16px 4px 0; float:left;}
.content .mainbar .article { margin:0 0 12px; padding:8px 24px 0;}
.content .sidebar { padding:0; float:right; width:288px;}
.content .sidebar .gadget { margin:0 0 12px; padding:8px 16px 8px 24px;}
ul.sb_menu, ul.ex_menu { margin:0; padding:0; list-style:none; color:#959595;}
ul.sb_menu li, ul.ex_menu li { margin:0;}
ul.sb_menu li { padding:4px 0; width:220px;}
ul.ex_menu li { padding:4px 0;}
ul.sb_menu li a, ul.ex_menu li a { color:#959595; text-decoration:none; margin-left:-12px; padding-left:12px;}
ul.sb_menu li a:hover, ul.ex_menu li a:hover { color:#6ec1f3; font-weight:bold;}
ul.sb_menu li a:hover { text-decoration:underline;}
ul.ex_menu li a:hover { text-decoration:none;}
.content p.pages { padding:32px 24px 12px; font-size:11px; color:#959595; text-align:right;}
.content p.pages span, .content p.pages a:hover { padding:5px 10px; color:#fff; background-color:#6ec1f3; border:1px solid #6ec1f3;}
.content p.pages a { padding:5px 10px; color:#959595; background-color:#fff; border:1px solid #edebeb; text-decoration:none;}
.content p.pages small { font-size:11px; float:left;}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg { }
.fbg_resize { margin:0 auto; width:922px; padding:24px; color:#959595;}
.fbg .c2 a, .fbg .c3 a { margin:0; padding:2px 4px;}
.fbg  h2 { }
.fbg img { margin:0 16px 16px 0; padding:3px; background-color:#fff; border:1px solid #99bece;}
.fbg .col { margin:0; float:left;}
.fbg .c1 { padding:0 16px 0 0; width:266px;}
.fbg .c2 { padding:0 16px; width:300px;}
.fbg .c3 { padding:0 0 0 16px; width:260px;}

/* footer */
.footer { border-top:1px solid #eeeeee;}
.footer_resize { margin:0 auto; padding:26px; width:922px;}
.footer p.lf { margin:0; padding:4px 0; text-align:left; width:auto; line-height:1.5em;}
.footer p.lf a { color:#6ec1f3;}
.footer p.lf span { float:right;}

/* form */
ol { list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background-color:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background-color:#fff;}
ol li .send { margin:16px 0 0 0;}

/* search */
.searchform { float:right;}
#formsearch { margin:0; height:36px; padding:8px 28px 40px 0;}
#formsearch span { display:block; margin:6px 0; padding:0; float:left; background:#fff url(images/search.gif) no-repeat top left;}
#formsearch input.editbox_search { margin:0; padding:11px 6px 10px; float:left; width:181px; border:none; background:none; font:normal 12px/1.5em Arial, Helvetica, sans-serif; color:#a8acb2;}
#formsearch input.button_search { margin:6px 0 0 0; padding:0; border:none; float:left;}
