﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Административный раздел</title>
    <meta charset="utf-8" />
    <link href="~/Styles/style.css" rel="stylesheet" />
    <link href="~/Styles/error.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <header>
        <div class="logo">LOGO
        </div> 
        </header>
         <nav>
            <div class="l_menu">
                @Html.Partial("~/Views/Shared/_AdminMenu.cshtml")
            </div>
        </nav>
        <div class="content">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @RenderBody()
        </div>
        <footer>
            <div class="footer">
                Все права защищены. CloudsSolution © 2015.
                @Html.ActionLink("Вернуться на сайт", "Index", "User")
            </div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
