﻿<!DOCTYPE html>
<head>
<title>@ViewBag.Title</title>
<meta http-equiv="Content-Type" content="text/css; charset=UTF-8" />
    <link href="~/Styles/style.css" rel="stylesheet" />
    <link href="~/Styles/error.css" rel="stylesheet" />
</head>
<body>

<div class="login">              
 	@Html.Partial("~/Views/Shared/_LayoutLogin.cshtml")
</div>
<div class="main">
    <div class="header">
        <div class="header_resize">
            <div class="menu_nav">    
            @Html.Action("Menu_main", "Nav")
        
            </div>
            <div class="logo">
                <h1><a>LOGO <small>наше лого, подпись и тд</small></a></h1>
            </div>
    	    <div class="clr">   </div>
      
            <div class="headertext" >
            <h2>Read me first...</h2>         
            </div>
        </div>
    </div>

    <div class="content" >
        <div class="content_resize">
            <div class="mainbar">     
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }              
                <div class="article" id="test" >
          
                @RenderBody()
                </div>    
            </div>
            <div class="gadget">      
	            @Html.Partial("_UserMenu")
            </div>
        </div>
    </div>
   
</div>
    <div class="footer">
    <div class="footer_resize">
        Все права защищены. CloudsSolution © 2015.
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Админ", "Index", "Admin")
            @:  ссылка видна только пользователю с ролью "Admin"
                }
        <div class="clr"></div>
    </div>
</div>
    @RenderSection("Scripts", required: false)

 
</body>
</html>
