﻿@model Web.Models.LocalPasswordModel

<h3>Назначения нового пароля</h3>

@*@using (Html.BeginForm("Manage", "Login"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()*@

    <fieldset>
        <legend></legend>

        <div ng-controller="ManageCtrl">
            <div class="form-group">
                <span ng-show="response[1]" class="label label-important">
                    {{response[1]}}
                </span>
                <form name="ManagePass"  novalidate>
                    @*@Html.AntiForgeryToken()*@
                    <ul>
                        <li>
                            <label class="control-label col-md-2" for="username">Новый пароль: </label>
                            <input class="form-control text-box single-line" type="password" id="username" ng-model="model.NewPassword">
                        </li>
                        <li>
                            <label class="control-label col-md-2" for="password">Повторите пароль: </label>
                            <input class="form-control text-box single-line" type="password" id="password" ng-model="model.ConfirmPassword">
                        </li>
                    </ul>
                    <button type="submit" ng-Click="manage(model)">Смена пароля</button>
                </form>
            </div>
         </div>

            @*<ul>
        <li>
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
        </li>
        <li>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
        </li>
    </ul>

    <input type="submit" value="Смена пароля" />*@
    </fieldset>
<div class="span6">
    <span class="label label-success" ng-show="status" class="span6">{{response[1]}}</span>
    @*@Html.ActionLink("Вернуться к профилю", "profile")*@
</div>