﻿
<h3>Сброс пароля</h3>


    <div class="form-group" ng-hide="response[0]=='Ok'">
        <form name="RecoverPassSendMailForm" class="ng-pristine ng-valid ng-scope" @*ng-submit="register(reguser)*@ ">

            <div class="form-horizontal">
                <fieldset>
                    <legend></legend>
                    Введите E-mail, который был указан при регистрации. На него Вам придет письмо с дальнейшими инструкцими по восстановлению пароля.<br>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="UserName">E-mail:</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" id="UserName" name="UserName" type="text" ng-model="email" required ng-pattern="/^(?:[a-z0-9]+(?:[-_]?[a-z0-9]+)?@[a-z0-9]+(?:\.?[a-z0-9]+)?\.[a-z]{2,5})$/i">



                            @*<div class="form-group">
                <label class="control-label col-md-2" for="Email">Логин</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="Email" name="Email" type="text" ng-model="reguser.Email">
                </div>
            </div>*@

                            <input type="submit" value="Отправить" class="btn btn-default" ng-Click="sendmail(email)" ng-disabled="RecoverPassSendMailForm.$invalid">
                            <span ng-show="response[0]=='Error'" class="label label-important">
                                {{response[1]}}
                            </span>
                        </div>
                    </div>
                    
                </fieldset>
            </div>
        </form>
    </div>
<span ng-show="response[0]=='Ok'" class="label label-success">
    {{response[1]}}
</span>



