﻿@model Web.Models.Counter_model_add

<div >
    <h3>Добавление счетчика </h3>
    <ul class="breadcrumb">
        <li><a href="#/meters">Данные по счетчикам</a> <span class="divider">/</span></li>
        <li><a href="#/datameters">Показания счетчиков</a> <span class="divider">/</span></li>
    </ul>

    <form class="form-inline">
        @*@Html.AntiForgeryToken()*@
        <fieldset>
            <div class="form-horizontal">
                <hr />
                <span ng-show="response" class="label label-important">
                    {{response}}
                </span>
                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                <div class="control-group">
                    <label class="control-label" for="select01">Выберите тип счетчика: </label>
                    <div class="controls">
                        <select required ng-model="meter.Type" id="select01" class="span3">
                            @*<option disabled>Выберите тип счетчика</option>*@
                            <option value="1">Газ</option>
                            <option value="2">Электроэнергия</option>
                            <option value="3">Холодная вода</option>
                            <option value="4">Горячая вода</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.Serial, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        <input class="input-xlarge" type="text" ng-model="meter.Serial">
                    </div>
                </div>

                <style type="text/css">
                    .uib-datepicker .uib-title {
                        width: 100%;
                    }

                    .uib-day button, .uib-month button, .uib-year button {
                        min-width: 100%;
                    }

                    .uib-datepicker-popup.dropdown-menu {
                        display: block;
                        float: none;
                        margin: 10px;
                        transform: scale(.85);

                    }

                    .uib-button-bar {
                        padding: 10px 9px 20px;
                    }

                    .uib-left, .uib-right {
                        width: 100%;
                    }
                </style>
                <div class="control-group">
                    @Html.LabelFor(model => model.DateOfReview, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="input-small" uib-datepicker-popup ng-model="meter.DateOfReview" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Закрыть" style="display:inline-block" />
                            <button type="button" class="btn" ng-click="open2()"><i class="icon icon-calendar"></i></button>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        <input class="input-xlarge" type="text" ng-model="meter.Name">
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Measure, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        <input class="input-xlarge" type="text" ng-model="meter.Measure">
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.firstdata, htmlAttributes: new { @class = "control-label" })
                    <div class="controls">
                        <input class="input-xlarge" type="text" ng-model="meter.firstdata">
                    </div>
                </div>

                <div class="form-actions">
                    <input type="submit" value="Добавить" class="btn btn-primary" ng-click="submit(meter)">
                </div>
            </div>
        </fieldset>
    </form>

@if (User.IsInRole("Admin"))
{
    <pre> {{response}}</pre>
}

</div>
