.uib-datepicker .uib-title {
  width: 100%;
}

.uib-day button, .uib-month button, .uib-year button {
  min-width: 100%;
}

.uib-datepicker-popup.dropdown-menu {
  display: inline-block;
  float: none;
  visibility: hidden;
  margin: 0;
  top: -9999px;
  left: -9999px;
}

.uib-button-bar {
  padding: 10px 9px 2px;
}

.uib-left, .uib-right {
  width: 100%
}
