﻿@model Web.Models.uk_profile

@{
    ViewBag.Title = "EditUk";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Редактирование УК или ТСЖ</h2>
<div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>uk_profile</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.host, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">http://
                @Html.EditorFor(model => model.host, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.host, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}
</div>


<div>
    <p>
        @Html.ActionLink("Добавить новый адрес", "CreateAddr", new { @Model.id })
    </p>
    @Html.Action("ViewAddrUk")
</div>
<div>
    @Html.ActionLink("Вернуться к списку", "ViewUk")
</div>
