﻿@model Web.Models.uk_adress

@{
    ViewBag.Title = "EditAddr";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>EditAddr</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.id_uk)
    <div class="form-horizontal">
        <fieldset>
            <legend>Редактирование адреса</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.City)
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Street, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Street)
                        @Html.ValidationMessageFor(model => model.Street)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.House, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.House)
                        @Html.ValidationMessageFor(model => model.House)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Сохранить" class="btn btn-default" />
                    </div>
                </div>
            </fieldset>
        </div>
        }

        <div>
            @if (Model != null)
            {
                @Html.ActionLink("Отменить и вернуться", "EditUk", new { id = Model.id_uk })
            }
            else
            {
                @Html.ActionLink("Отменить и вернуться", "EditUk")
            }
        </div>
