﻿@model IEnumerable<Web.Models.uk_profile>

@{
    ViewBag.Title = "ViewUk";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Управляющие компании и ТСЖ</h2>

<p>
    @Html.ActionLink("Создать", "CreateUk")
</p>
<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "EditUk", new { id=item.id }) |
            @Html.ActionLink("Details", "ViewAddrUk", new { id = item.id }) |
            @Html.ActionLink("Delete", "DeleteUk", new { id=item.id })
        </td>
    </tr>
}

</table>
