﻿@model IEnumerable<Web.Models.UserInRole_model_>

@{
    ViewBag.Title = "ViewUserInRoles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ViewUserInRoles</h2>

<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { login = item.UserName }) |
            @Html.ActionLink("Details", "Details", new { login = item.UserName }) |
            @Html.ActionLink("Delete", "DeleteUser", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
