﻿@model IEnumerable<Web.Models.Admtszh>

@{
    ViewBag.Title = "ViewModers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ViewModers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_uk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmtszhId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Action("get_uk", "Login", new { uk = item.id_uk })
        </td>
        <td>
            @Html.Action("getModerLogin","Admtszh", new { id = item.AdmtszhId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patronymic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
